openapi: 3.2.0
info:
  title: API.market Magicapi API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 77 operation(s) read from 38 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; API.market has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 75
    documentation: 2
    pages-with-code: 38
    pages-read: 38
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.api.market/api.market-mcp-server-guide
  - https://docs.api.market/subscription-management-api-documentation
  - https://docs.api.market/api.market-usage-api-documentation
  - https://docs.api.market/seller-docs/testing-your-apis-and-products
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt
  - https://docs.api.market/api.market-mcp-server-guide.md
  - https://docs.api.market/subscription-management-api-documentation.md
  - https://docs.api.market/api.market-usage-api-documentation.md
  - https://docs.api.market/seller-docs/testing-your-apis-and-products.md
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval.md
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt.md
  - https://docs.api.market/api-product-docs/magicapi/screenshot-api
  - https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
  - https://docs.api.market/api-product-docs/magicapi/whois-api
  - https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
  - https://docs.api.market/api-product-docs/magicapi/image-upscale-api
  - https://docs.api.market/api-product-docs/magicapi/dns-checker-api
  - https://docs.api.market/api-product-docs/magicapi/ageify-api
  - https://docs.api.market/api-product-docs/magicapi/image-restoration-api
  - https://docs.api.market/api-product-docs/magicapi/toon-me-api
  - https://docs.api.market/api-product-docs/magicapi/coding-assistant
  - https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
  - https://docs.api.market/api-product-docs/magicapi/image-upload-api
  - https://docs.api.market/api-product-docs/magicapi/deblurer-api
  - https://docs.api.market/api-product-docs/magicapi/hair-changer-api
  - https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
  - https://docs.api.market/api-product-docs/magicapi/whisper-api
  - https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
  - https://docs.api.market/api-product-docs/magicapi/openjourney-api
  - https://docs.api.market/api-product-docs/magicapi/object-remover-api
  - https://docs.api.market/api-product-docs/magicapi/image-captioner-api
  - https://docs.api.market/api-product-docs/magicapi/object-detector-api
  - https://docs.api.market/api-product-docs/magicapi/nsfw-api
  - https://docs.api.market/api-product-docs/magicapi/crunchbase-api
  - https://docs.api.market/api-product-docs/magicapi/pipfeeds-extract-api-developer-documentation
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-8b-instruct
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
servers:
- url: https://prod.api.market
security:
- apiKey: []
tags:
- name: Magicapi
paths:
  /api/v1/magicapi/aiqrcode/predictions:
    post:
      operationId: post_api_v1_magicapi_aiqrcode_predictions
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/aiqrcode/predictions
      x-source: https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiAiqrcodePredictionsRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/aiqrcode/predictions'  -H 'accept: application/json'  -H 'x-api-market-key: API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"input\": { \n \"seed\": 7649977190, \n \"width\": 768, \n \"border\": 2, \n \"height\": 768, \n \"prompt\": \"surreal futuristic house floating on a cloud...\", \n \"qr_code_content\": \"https://api.market\", \n \"qrcode_background\": \"w"
  /api/v1/magicapi/captioner/captioner:
    get:
      operationId: get_api_v1_magicapi_captioner_captioner
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/captioner/captioner
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCaptionerCaptionerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/captioner/captioner'
    post:
      operationId: post_api_v1_magicapi_captioner_captioner
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/captioner/captioner
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCaptionerCaptionerRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCaptionerCaptionerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javscript Get the result Curl Python PHP NodeJs Javscript Previous Object Remover API Next Object Detector API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/captioner/captioner''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-Typ'
  /api/v1/magicapi/coder/coder:
    get:
      operationId: get_api_v1_magicapi_coder_coder
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/coder/coder
      x-source: https://docs.api.market/api-product-docs/magicapi/coding-assistant
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCoderCoderResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/coder/coder'
    post:
      operationId: post_api_v1_magicapi_coder_coder
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/coder/coder
      x-source: https://docs.api.market/api-product-docs/magicapi/coding-assistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCoderCoderRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCoderCoderResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Toon Me API Next 🎭 FaceSwap API: Instantaneous replaces face with one another Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/coder/coder''  -H ''accept: application/json''  -H ''x-magicapi-k'
  /api/v1/magicapi/colorizer/colorizer:
    get:
      operationId: get_api_v1_magicapi_colorizer_colorizer
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/colorizer/colorizer
      x-source: https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiColorizerColorizerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/colorizer/colorizer'
    post:
      operationId: post_api_v1_magicapi_colorizer_colorizer
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/colorizer/colorizer
      x-source: https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiColorizerColorizerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Whisper API Next OpenJourney API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/colorizer/colorizer''  -H ''accept: application/json''  -H ''x-api-market-kay: API_KEY''  -H ''Content-Type: appl'
  /api/v1/magicapi/crunchbase/autocompletes:
    get:
      operationId: get_api_v1_magicapi_crunchbase_autocompletes
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/crunchbase/autocompletes
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses For /autocompletes endpoint, data would be: Curl Python PHP NodeJs Javascript Copy curl -X ' POST '  ' https://prod.api.market/api/v1/magicapi/crunchbase/autocompletes '  -H ' accept: application/json '  -H ' x-api-market-key: API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"query\": \"openAI\" \n } ' Copy import requests \n headers = { \n ' accept ' : ' applicatio"
    post:
      operationId: post_api_v1_magicapi_crunchbase_autocompletes
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/crunchbase/autocompletes
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseAutocompletesRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseAutocompletesResponse'
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://prod..api.market/api/v1/magicapi/crunchbase/autocompletes', { \n method: 'POST', \n headers: { \n 'accept': 'application/json', \n 'x-api-market-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'query': 'openAI' \n })"
  /api/v1/magicapi/crunchbase/{crunchbaseid}/organizations:
    get:
      operationId: get_api_v1_magicapi_crunchbase_crunchbaseid_organizations
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/crunchbase/entities/organizations
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      parameters:
      - name: crunchbaseid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/crunchbase/entities/organizations'
        collapsed_from: 2 example path(s) differing only at crunchbaseId
    post:
      operationId: post_api_v1_magicapi_crunchbase_crunchbaseid_organizations
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/crunchbase/entities/organizations
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      parameters:
      - name: crunchbaseid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/crunchbase/entities/organizations'  -H 'accept: application/json'  -H 'x-api-market-key: api_API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"entity_id\": \"cf2c678c-b81a-80c3-10d1-9c5e76448e51\" \n }' Copy import requests \n headers = { \n 'accept': 'application/json', \n 'x-api-market-key': 'api_API_KEY', \n 'Content-Type': 'application/jso"
        collapsed_from: 2 example path(s) differing only at crunchbaseId
  /api/v1/magicapi/deblurer/deblurer:
    get:
      operationId: get_api_v1_magicapi_deblurer_deblurer
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/deblurer/deblurer
      x-source: https://docs.api.market/api-product-docs/magicapi/deblurer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiDeblurerDeblurerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/deblurer/deblurer'
    post:
      operationId: post_api_v1_magicapi_deblurer_deblurer
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/deblurer/deblurer
      x-source: https://docs.api.market/api-product-docs/magicapi/deblurer-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDeblurerDeblurerRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiDeblurerDeblurerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous 🏞️ Image Upload API Next Hair Changer API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/deblurer/deblurer''  -H ''accept: application/json''  -H ''x-magicapi-key: API_KEY''  -H ''Content-Type'
  /api/v1/magicapi/dnschecker/dnschecker:
    get:
      operationId: get_api_v1_magicapi_dnschecker_dnschecker
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/dnschecker/dnschecker
      x-source: https://docs.api.market/api-product-docs/magicapi/dns-checker-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiDnscheckerDnscheckerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/dnschecker/dnschecker '  -H ' accept: application/json '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"domain\": \"api.market\" \n } ' Copy import requests \n headers = { \n ' accept ' : ' application/json ' , \n ' x-magicapi-k"
    post:
      operationId: post_api_v1_magicapi_dnschecker_dnschecker
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/dnschecker/dnschecker
      x-source: https://docs.api.market/api-product-docs/magicapi/dns-checker-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDnscheckerDnscheckerRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/magicapi/dnschecker/dnschecker', { \n method: 'POST', \n headers: { \n 'accept': 'application/json', \n 'x-magicapi-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'domain': 'api.market' \n })"
  /api/v1/magicapi/domainchecker/check_domains:
    get:
      operationId: get_api_v1_magicapi_domainchecker_check_domains
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/domainchecker/check_domains
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response : Request CURL NodeJS Python Java PHP Copy curl -X ' POST '  ' https://prod.api.market/api/v1/magicapi/domainchecker/check_domains/ '  -H ' accept: application/json '  -H ' x-api-market-key: API-KEY '  -H ' Content-Type: application/json '  -d ' { \n \"domain_name\": \"google\" \n } ' Copy const fetch = require ( ' node-fetch ' ) ; \n let url = ' https://prod.api.market/api/v1/m"
    post:
      operationId: post_api_v1_magicapi_domainchecker_check_domains
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/domainchecker/check_domains
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl); \n if ($err) { \n echo \"cURL Error #:\" . $err; \n } else { \n echo $response; \n } Copy curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/domainchecker/check_domains/'  -H 'accept: application/json'  -H 'x-api-market-key: API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"domain_name\": \"google\" \n }' Copy { \n \"available\": [ \n \"google.design\", \n \"google.bz\", \n \"google.city\", \n \"google."
  /api/v1/magicapi/domainchecker/check_domains/:
    post:
      operationId: postApiV1MagicapiDomaincheckerCheckDomains
      tags:
      - Magicapi
      summary: Domain Availability Checker API is a powerful tool designed to check 500 domain…
      description: Send a POST request with a JSON body containing "domain_name" to check its availability across multiple extensions. Returns a JSON object with "available" and "taken" arrays.
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      parameters:
      - name: domain_name
        in: query
        required: true
        schema:
          type: string
        description: The domain name to check (without extension).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsRequest2'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsResponse'
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: post_api_v1_magicapi_domainchecker_check_domains
  /api/v1/magicapi/faceswap:
    post:
      operationId: post_api_v1_magicapi_faceswap
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiFaceswapResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/faceswap/ '  -H ' accept: application/json '  -H ' x-magicapi-key: you-api-key '  -H ' Content-Type: application/json '  -d ' { \n \"input\": { \n \"swap_image\": \"https://blog.api.market/wp-content/uploads/2024/06/Elon_Musk.png\", \n \"target_image\": \"https://blog.api.market/wp-content/uploads/2024/06/Shahrukh_khan.png\" \n } \n } ' Example Respons"
  /api/v1/magicapi/faceswap/:
    post:
      operationId: postApiV1MagicapiFaceswap
      tags:
      - Magicapi
      summary: 'FaceSwap API: Instantaneous replaces face with one another'
      description: Swap faces between two images by providing URLs for the swap image and the target image.
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapRequest2'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiFaceswapResponse2'
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: post_api_v1_magicapi_faceswap
  /api/v1/magicapi/faceswap/faceswap:
    get:
      operationId: get_api_v1_magicapi_faceswap_faceswap
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/faceswap/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiFaceswapFaceswapResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/faceswap/faceswap'
    post:
      operationId: post_api_v1_magicapi_faceswap_faceswap
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/faceswap/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapFaceswapRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/magicapi/faceswap/faceswap', { \n method: 'POST', \n headers: { \n 'accept': 'application/json', \n 'x-magicapi-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'swap_image': 'SWAP_IMAGE', \n 'target_image': 'TARGET_IMAGE' \n })"
  /api/v1/magicapi/gpt-5/chat/completions:
    post:
      operationId: post_api_v1_magicapi_gpt_5_chat_completions
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/gpt-5/chat/completions
      x-source: https://docs.api.market/seller-docs/testing-your-apis-and-products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiGpt5ChatCompletionsRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiGpt5ChatCompletionsResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X POST \"https://prod.api.market/api/v1/magicapi/gpt-5/chat/completions\"  -H \"Content-Type: application/json\"  -H \"x-api-market-key: YOUR_API_MARKET_KEY\"  -d '{ \n \"model\": \"gpt-5\", \n \"messages\": [ \n { \n \"role\": \"user\", \n \"content\": \"What is the capital of France?\" \n } \n ] \n }' \n Copy const apiKey = \"YOUR_API_MARKET_KEY\"; \n const baseUrl = \"https://prod.api.market/api/v1/magicapi/gpt-5\"; \n asy"
  /api/v1/magicapi/hair/hair:
    get:
      operationId: get_api_v1_magicapi_hair_hair
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/hair/hair
      x-source: https://docs.api.market/api-product-docs/magicapi/hair-changer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiHairHairResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/hair/hair'
    post:
      operationId: post_api_v1_magicapi_hair_hair
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/hair/hair
      x-source: https://docs.api.market/api-product-docs/magicapi/hair-changer-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiHairHairRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiHairHairResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Parameters color_description would be - purple, red, orange, yellow, green, blue, gray, brown, black, white, blond, pink hairstyle_description would be these: Previous Deblurer API Next 🤳🏻🤖AI Qr Code Generator API Last updated 8 months ago About Curl Requests and Respons'
  /api/v1/magicapi/image-upload/upload:
    post:
      operationId: post_api_v1_magicapi_image_upload_upload
      tags:
      - Magicapi
      summary: Image Upload API
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upload-api
      parameters:
      - name: x-magicapi-key
        in: header
        required: true
        schema:
          type: string
        description: Your API key for authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiImageUploadUploadRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiImageUploadUploadResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/nsfw/nsfw:
    get:
      operationId: get_api_v1_magicapi_nsfw_nsfw
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/nsfw/nsfw
      x-source: https://docs.api.market/api-product-docs/magicapi/nsfw-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiNsfwNsfwResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/nsfw/nsfw'
    post:
      operationId: post_api_v1_magicapi_nsfw_nsfw
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/nsfw/nsfw
      x-source: https://docs.api.market/api-product-docs/magicapi/nsfw-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiNsfwNsfwResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Object Detector API Next Crunchbase API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/nsfw/nsfw''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-Type: applicati'
  /api/v1/magicapi/objectdetector/objectdetector:
    get:
      operationId: get_api_v1_magicapi_objectdetector_objectdetector
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/objectdetector/objectdetector
      x-source: https://docs.api.market/api-product-docs/magicapi/object-detector-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiObjectdetectorObjectdetectorResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/objectdetector/objectdetector'
    post:
      operationId: post_api_v1_magicapi_objectdetector_objectdetector
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/objectdetector/objectdetector
      x-source: https://docs.api.market/api-product-docs/magicapi/object-detector-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiObjectdetectorObjectdetectorRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiObjectdetectorObjectdetectorResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Image Captioner API Next NSFW API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/objectdetector/objectdetector''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-T'
  /api/v1/magicapi/objectremover/objectremover:
    get:
      operationId: get_api_v1_magicapi_objectremover_objectremover
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/objectremover/objectremover
      x-source: https://docs.api.market/api-product-docs/magicapi/object-remover-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiObjectremoverObjectremoverResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/objectremover/objectremover'
    post:
      operationId: post_api_v1_magicapi_objectremover_objectremover
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/objectremover/objectremover
      x-source: https://docs.api.market/api-product-docs/magicapi/object-remover-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiObjectremoverObjectremoverRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiObjectremoverObjectremoverResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous OpenJourney API Next Image Captioner API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api-market/api/v1/magicapi/objectremover/objectremover''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Cont'
  /api/v1/magicapi/openjourney/openjourney:
    get:
      operationId: get_api_v1_magicapi_openjourney_openjourney
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/openjourney/openjourney
      x-source: https://docs.api.market/api-product-docs/magicapi/openjourney-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiOpenjourneyOpenjourneyResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/openjourney/openjourney'
    post:
      operationId: post_api_v1_magicapi_openjourney_openjourney
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/openjourney/openjourney
      x-source: https://docs.api.market/api-product-docs/magicapi/openjourney-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiOpenjourneyOpenjourneyRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiOpenjourneyOpenjourneyResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Image Colorizer API Next Object Remover API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/openjourney/openjourney''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Conte'
  /api/v1/magicapi/pdf-extract/pdf-to-html-file/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_html_file
      tags:
      - Magicapi
      summary: Convert an uploaded PDF file to HTML
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlFileRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlFileResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-html-url/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_html_url
      tags:
      - Magicapi
      summary: Convert a PDF hosted online to HTML
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlUrlRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlUrlResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-text-file/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_text_file
      tags:
      - Magicapi
      summary: Convert an uploaded PDF file to plain text
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextFileRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextFileResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-text-url/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_text_url
      tags:
      - Magicapi
      summary: Convert a PDF hosted online to plain text
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextUrlRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextUrlResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/{pdfextractid}:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdfextractid
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/pdf-extract/pdf-to-html-url
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      parameters:
      - name: pdfextractid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfextractidRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfextractidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response : For /pdf-to-html-url/ endpoint, the data would be : Request : CURL NodeJS Python Java Copy curl -X ' POST '  ' https://prod.api.market/api/v1/magicapi/pdf-extract/pdf-to-html-url/ '  -H ' accept: text/html '  -H ' x-api-market-key: API-KEY '  -H ' Content-Type: application/json '  -d ' { \n \"pdf_url\": \"https://www.cedarville.edu/-/media/Files/PDF/Web-Development-Services"
        collapsed_from: 4 example path(s) differing only at pdfextractId
  /api/v1/magicapi/period/period:
    get:
      operationId: get_api_v1_magicapi_period_period
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/period/period
      x-source: https://docs.api.market/api-product-docs/magicapi/ageify-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiPeriodPeriodResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/period/period'
    post:
      operationId: post_api_v1_magicapi_period_period
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/period/period
      x-source: https://docs.api.market/api-product-docs/magicapi/ageify-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPeriodPeriodResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Data Handling and Security Practices Our API does not store customer data on our servers. While the results of API requests may reference the URL of an image, the image itself is temporarily stored on our cloud infrastructure, managed through a highly reputable global cl
  /api/v1/magicapi/restoration/restoration:
    get:
      operationId: get_api_v1_magicapi_restoration_restoration
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/restoration/restoration
      x-source: https://docs.api.market/api-product-docs/magicapi/image-restoration-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiRestorationRestorationResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/restoration/restoration'
    post:
      operationId: post_api_v1_magicapi_restoration_restoration
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/restoration/restoration
      x-source: https://docs.api.market/api-product-docs/magicapi/image-restoration-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiRestorationRestorationResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous Ageify API Next Toon Me API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/restoration/restoration''  -H ''accept: application/json''  -H ''x-magicapi-key: API_KEY''  -H ''Content-Type: applicat'
  /api/v1/magicapi/screenshot-api/api/screenshot:
    get:
      operationId: get_api_v1_magicapi_screenshot_api_api_screenshot
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/screenshot-api/api/screenshot
      x-source: https://docs.api.market/api-product-docs/magicapi/screenshot-api
      parameters:
      - name: dismissModals
        in: query
        required: false
        schema:
          type: string
      - name: isFullPage
        in: query
        required: false
        schema:
          type: string
      - name: outFormat
        in: query
        required: false
        schema:
          type: string
      - name: resX
        in: query
        required: false
        schema:
          type: string
      - name: resY
        in: query
        required: false
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
      - name: waitTime
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response Request Curl NodeJS Python Java PHP Copy curl -X ' GET '  ' https://prod.api.market/api/v1/magicapi/screenshot-api/api/screenshot?resX=1280&resY=900&outFormat=jpg&waitTime=100&isFullPage=false&dismissModals=false&url=https%3A%2F%2Fapi.market%2F '  -H ' accept: image/jpeg '  -H ' x-api-market-key: API_KEY ' Copy const fetch = require ( 'node-fetch' ); \n let url = ' https:/"
  /api/v1/magicapi/upscaler/upscale2x:
    get:
      operationId: get_api_v1_magicapi_upscaler_upscale2x
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/upscaler/upscale2x
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upscale-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl and Response Request Curl NodeJS Python Java PHP Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/upscaler/upscale2x/ '  -H ' accept: image/jpeg '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"url\": \"https://production-media.paperswithcode.com/datasets/Set5-0000002728-07a9793f_zA3bDjj.jpg\" \n } ' Copy const fetch = require ( 'node-fetch' ); "
    post:
      operationId: post_api_v1_magicapi_upscaler_upscale2x
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/upscaler/upscale2x
      x-source: https://docs.api.market/subscription-management-api-documentation.md
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiUpscalerUpscale2XResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Example (2× Upscale)\n```bash\ncurl -X ''POST'' \\\n  ''https://api.magicapi.dev/api/v1/magicapi/upscaler/upscale2x/'' \\\n  -H ''accept: image/jpeg'' \\\n  -H ''x-api-market-key: API_KEY'' \\\n  -H ''Content-Type: application/json'' \\\n  -d ''{\n    \"url\": \"https://production-media.paperswithcode.com/datasets/Set5-0000002728-07a9793f_zA3bDjj.jpg\"\n}''\n```\n\n**Sample Output Image**\n<img src=\"htt'
  /api/v1/magicapi/upscaler/upscale2x/:
    post:
      operationId: postApiV1MagicapiUpscalerUpscale2x
      tags:
      - Magicapi
      summary: Image Upscale API
      description: Send a POST request to /upscale2x/ with the URL of the image to be upscaled in the request body. Returns a JPEG image of the upscaled result.
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upscale-api
      parameters:
      - name: x-magicapi-key
        in: header
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          type: object
        description: 'JSON payload containing the image URL to upscale, e.g. { "url": "https://..." }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiUpscalerUpscale2XRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: post_api_v1_magicapi_upscaler_upscale2x
  /api/v1/magicapi/whisper/whisper:
    get:
      operationId: get_api_v1_magicapi_whisper_whisper
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/whisper/whisper
      x-source: https://docs.api.market/api-product-docs/magicapi/whisper-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiWhisperWhisperResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/whisper/whisper'
    post:
      operationId: post_api_v1_magicapi_whisper_whisper
      tags:
      - Magicapi
      summary: POST /api/v1/magicapi/whisper/whisper
      x-source: https://docs.api.market/api-product-docs/magicapi/whisper-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiWhisperWhisperRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiWhisperWhisperResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript Previous 🤳🏻🤖AI Qr Code Generator API Next Image Colorizer API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/whisper/whisper''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Cont'
  /api/v1/magicapi/whois/whois/{domain}:
    get:
      operationId: get_api_v1_magicapi_whois_whois_domain
      tags:
      - Magicapi
      summary: Meta-Llama-3-70B-Instruct | API.Market
      x-source: https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/v1/magicapi/{magicapiid}/predictions/{requestid}:
    get:
      operationId: get_api_v1_magicapi_magicapiid_predictions_requestid
      tags:
      - Magicapi
      summary: GET /api/v1/magicapi/captioner/predictions/{requestId}
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      parameters:
      - name: magicapiid
        in: path
        required: true
        schema:
          type: string
      - name: requestid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiMagicapiidPredictionsRequestidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'GET'  'https://prod.api.market/api/v1/magicapi/captioner/predictions/REQUEST_ID'  -H 'accept: application/json'  -H 'x-api-market-key: API_KEY' Copy import requests \n headers = { \n 'accept': 'application/json', \n 'x-api-market-key': 'API_KEY', \n } \n response = requests.get('https://prod.api.market/api/v1/magicapi/captioner/predictions/REQUEST_ID', headers=headers) Copy <?php "
        collapsed_from: 12 example path(s) differing only at magicapiId
components:
  schemas:
    PostApiV1MagicapiPdfExtractPdfToHtmlUrlResponse:
      type: object
      properties:
        html:
          type: string
          description: HTML representation of the PDF.
    PostApiV1MagicapiPdfExtractPdfToHtmlFileResponse:
      type: object
      properties:
        html:
          type: string
          description: HTML representation of the PDF.
    PostApiV1MagicapiUpscalerUpscale2XRequest:
      type: object
      properties:
        url:
          type: string
          description: URL of the image to be upscaled
      required:
      - url
    PostApiV1MagicapiImageUploadUploadResponse:
      type: object
      properties:
        url:
          type: string
          description: Secure URL of the uploaded image
    PostApiV1MagicapiPdfExtractPdfToTextUrlRequest:
      type: object
      properties:
        pdf_url:
          type: string
          description: URL of the PDF to convert.
      required:
      - pdf_url
    PostApiV1MagicapiFaceswapResponse:
      type: object
      properties:
        output:
          type: string
    PostApiV1MagicapiCaptionerCaptionerRequest:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    PostApiV1MagicapiCrunchbaseAutocompletesRequest:
      type: object
      properties:
        query:
          type: string
    PostApiV1MagicapiDeblurerDeblurerRequest:
      type: object
      properties:
        image:
          type: string
    PostApiV1MagicapiGpt5ChatCompletionsResponse:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
    PostApiV1MagicapiFaceswapRequest2:
      type: object
      properties:
        input:
          type: object
          description: Object containing the images to be swapped.
        input.swap_image:
          type: string
          description: URL of the image providing the face to swap.
        input.target_image:
          type: string
          description: URL of the target image where the face will be placed.
      required:
      - input
      - input.swap_image
      - input.target_image
    PostApiV1MagicapiCrunchbaseAutocompletesResponse:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiImageUploadUploadRequest:
      type: object
      properties:
        filename:
          type: string
          description: Image file to upload (multipart/form-data)
      required:
      - filename
    PostApiV1MagicapiWhisperWhisperResponse:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    PostApiV1MagicapiObjectdetectorObjectdetectorRequest:
      type: object
      properties:
        image:
          type: string
        text:
          type: string
    PostApiV1MagicapiPdfExtractPdfToHtmlUrlRequest:
      type: object
      properties:
        pdf_url:
          type: string
          description: URL of the PDF to convert.
      required:
      - pdf_url
    PostApiV1MagicapiHairHairResponse:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsRequest:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiColorizerColorizerResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    GetApiV1MagicapiCoderCoderResponse:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    GetApiV1MagicapiWhisperWhisperResponse:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    PostApiV1MagicapiFaceswapResponse2:
      type: object
      properties:
        output:
          type: string
          description: URL of the resulting face‑swapped image.
    PostApiV1MagicapiPeriodPeriodResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiDomaincheckerCheckDomainsRequest:
      type: object
      properties:
        domain_name:
          type: string
    PostApiV1MagicapiPdfExtractPdfextractidResponse:
      type: object
      properties:
        html:
          type: string
    PostApiV1MagicapiCoderCoderResponse:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    PostApiV1MagicapiNsfwNsfwResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
            Content-Type:
              type: string
    GetApiV1MagicapiDeblurerDeblurerResponse:
      type: object
      properties:
        image:
          type: string
    PostApiV1MagicapiAiqrcodePredictionsRequest:
      type: object
      properties:
        input:
          type: object
          properties:
            seed:
              type: integer
            width:
              type: integer
            border:
              type: integer
            height:
              type: integer
            prompt:
              type: string
            qr_code_content:
              type: string
            qrcode_background:
              type: string
            num_outputs:
              type: integer
            num_inference_steps:
              type: integer
            guidance_scale:
              type: number
            controlnet_conditioning_scale:
              type: number
            negative_prompt:
              type: string
    GetApiV1MagicapiColorizerColorizerResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    GetApiV1MagicapiFaceswapFaceswapResponse:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    GetApiV1MagicapiObjectremoverObjectremoverResponse:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    PostApiV1MagicapiFaceswapFaceswapRequest:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    PostApiV1MagicapiCaptionerCaptionerResponse:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    GetApiV1MagicapiOpenjourneyOpenjourneyResponse:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    PostApiV1MagicapiObjectremoverObjectremoverResponse:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    PostApiV1MagicapiUpscalerUpscale2XResponse:
      type: object
      properties:
        id:
          type: string
        subscriptionStatus:
          type: string
        currentPeriodStartDate:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
        renewDate:
          type: string
          format: date-time
        apiCallsMade:
          type: integer
        cancellationDate:
          type:
          - string
          - 'null'
        pricingPlan:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            pricingPlanConfig:
              type: object
              properties:
                maxTPS:
                  type: string
                aPILimitType:
                  type: string
                apiCallLimit:
                  type: string
                apiSoftLimitOverHead:
                  type: number
                subscriptionPricePerMonth:
                  type: string
        product:
          type: object
          properties:
            slug:
              type: string
            title:
              type: string
        workspace:
          type: object
          properties:
            slug:
              type: string
    GetApiV1MagicapiNsfwNsfwResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
            Content-Type:
              type: string
    PostApiV1MagicapiObjectdetectorObjectdetectorResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    PostApiV1MagicapiObjectremoverObjectremoverRequest:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    GetApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiGpt5ChatCompletionsRequest:
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: string
    PostApiV1MagicapiPdfExtractPdfToHtmlFileRequest:
      type: object
      properties:
        pdf_file:
          type: string
          description: PDF file to be uploaded for conversion.
      required:
      - pdf_file
    GetApiV1MagicapiHairHairResponse:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    PostApiV1MagicapiWhisperWhisperRequest:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    PostApiV1MagicapiPdfExtractPdfToTextFileResponse:
      type: object
      properties:
        text:
          type: string
          description: Extracted plain text from the PDF.
    PostApiV1MagicapiPdfExtractPdfToTextUrlResponse:
      type: object
      properties:
        text:
          type: string
          description: Extracted plain text from the PDF.
    PostApiV1MagicapiOpenjourneyOpenjourneyRequest:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    PostApiV1MagicapiDeblurerDeblurerResponse:
      type: object
      properties:
        image:
          type: string
    PostApiV1MagicapiDomaincheckerCheckDomainsRequest2:
      type: object
      properties:
        domain_name:
          type: string
          description: The domain name to check.
      required:
      - domain_name
    PostApiV1MagicapiHairHairRequest:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    GetApiV1MagicapiDnscheckerDnscheckerResponse:
      type: object
      properties:
        domain:
          type: string
    GetApiV1MagicapiCaptionerCaptionerResponse:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    PostApiV1MagicapiCoderCoderRequest:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    GetApiV1MagicapiRestorationRestorationResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiRestorationRestorationResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiOpenjourneyOpenjourneyResponse:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    GetApiV1MagicapiPeriodPeriodResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiFaceswapRequest:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiDomaincheckerCheckDomainsResponse:
      type: object
      properties:
        available:
          type: array
          description: List of domain extensions that are available.
        taken:
          type: array
          description: List of domain extensions that are already taken.
    PostApiV1MagicapiPdfExtractPdfextractidRequest:
      type: object
      properties:
        pdf_url:
          type: string
    GetApiV1MagicapiObjectdetectorObjectdetectorResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    PostApiV1MagicapiPdfExtractPdfToTextFileRequest:
      type: object
      properties:
        pdf_file:
          type: string
          description: PDF file to be uploaded for conversion.
      required:
      - pdf_file
    PostApiV1MagicapiDnscheckerDnscheckerRequest:
      type: object
      properties:
        domain:
          type: string
    GetApiV1MagicapiMagicapiidPredictionsRequestidResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-market-key
