openapi: 3.2.0
info:
  title: API.market User API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 77 operation(s) read from 38 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; API.market has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 75
    documentation: 2
    pages-with-code: 38
    pages-read: 38
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.api.market/api.market-mcp-server-guide
  - https://docs.api.market/subscription-management-api-documentation
  - https://docs.api.market/api.market-usage-api-documentation
  - https://docs.api.market/seller-docs/testing-your-apis-and-products
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt
  - https://docs.api.market/api.market-mcp-server-guide.md
  - https://docs.api.market/subscription-management-api-documentation.md
  - https://docs.api.market/api.market-usage-api-documentation.md
  - https://docs.api.market/seller-docs/testing-your-apis-and-products.md
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval.md
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt.md
  - https://docs.api.market/api-product-docs/magicapi/screenshot-api
  - https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
  - https://docs.api.market/api-product-docs/magicapi/whois-api
  - https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
  - https://docs.api.market/api-product-docs/magicapi/image-upscale-api
  - https://docs.api.market/api-product-docs/magicapi/dns-checker-api
  - https://docs.api.market/api-product-docs/magicapi/ageify-api
  - https://docs.api.market/api-product-docs/magicapi/image-restoration-api
  - https://docs.api.market/api-product-docs/magicapi/toon-me-api
  - https://docs.api.market/api-product-docs/magicapi/coding-assistant
  - https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
  - https://docs.api.market/api-product-docs/magicapi/image-upload-api
  - https://docs.api.market/api-product-docs/magicapi/deblurer-api
  - https://docs.api.market/api-product-docs/magicapi/hair-changer-api
  - https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
  - https://docs.api.market/api-product-docs/magicapi/whisper-api
  - https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
  - https://docs.api.market/api-product-docs/magicapi/openjourney-api
  - https://docs.api.market/api-product-docs/magicapi/object-remover-api
  - https://docs.api.market/api-product-docs/magicapi/image-captioner-api
  - https://docs.api.market/api-product-docs/magicapi/object-detector-api
  - https://docs.api.market/api-product-docs/magicapi/nsfw-api
  - https://docs.api.market/api-product-docs/magicapi/crunchbase-api
  - https://docs.api.market/api-product-docs/magicapi/pipfeeds-extract-api-developer-documentation
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-8b-instruct
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
servers:
- url: https://prod.api.market
security:
- apiKey: []
tags:
- name: User
paths:
  /api/v1/user/usage:
    get:
      operationId: get_api_v1_user_usage
      tags:
      - User
      summary: GET /api/v1/user/usage
      x-source: https://docs.api.market/api.market-usage-api-documentation.md
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1UserUsageResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X GET ''https://prod.api.market/api/v1/user/usage/''  -H ''x-api-market-key: YOUR_API_MARKET_KEY''  -H ''accept: application/json''

          ```'
  /api/v1/user/usage/:
    get:
      operationId: getApiV1UserUsage
      tags:
      - User
      summary: Usage for All Active Subscriptions
      x-source: https://docs.api.market/api.market-usage-api-documentation.md
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1UserUsageResponse2'
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: get_api_v1_user_usage
  /api/v1/user/usage/magicapi/faceswap-v2:
    get:
      operationId: get_api_v1_user_usage_magicapi_faceswap_v2
      tags:
      - User
      summary: GET /api/v1/user/usage/magicapi/faceswap-v2
      x-source: https://docs.api.market/api.market-usage-api-documentation
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl) Example Response Field Reference Field Type Notes apiName string <store>/<product> canonical identifier store string Slug of the provider store apiProduct string Slug of the pricing plan / product quota int Monthly (or plan) call allowance apiCallsLeft int Remaining calls in current period apiCallsMade int Calls consumed so far startDate ISO-8601 Billing cycle start renewDate ISO-8601 Next a
components:
  schemas:
    GetApiV1UserUsageResponse:
      type: object
      properties:
        usageData:
          type: array
          items:
            type: object
            properties:
              apiName:
                type: string
              quota:
                type: integer
              apiCallsLeft:
                type: integer
              apiCallsMade:
                type: integer
              startDate:
                type: string
                format: date-time
              renewDate:
                type: string
                format: date-time
              endDate:
                type:
                - string
                - 'null'
    GetApiV1UserUsageResponse2:
      type: object
      properties:
        usageData:
          type: array
          description: Array of per‑product usage objects
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-market-key
