openapi: 3.2.0
info:
  title: API.market Toonme API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 77 operation(s) read from 38 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; API.market has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 75
    documentation: 2
    pages-with-code: 38
    pages-read: 38
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.api.market/api.market-mcp-server-guide
  - https://docs.api.market/subscription-management-api-documentation
  - https://docs.api.market/api.market-usage-api-documentation
  - https://docs.api.market/seller-docs/testing-your-apis-and-products
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt
  - https://docs.api.market/api.market-mcp-server-guide.md
  - https://docs.api.market/subscription-management-api-documentation.md
  - https://docs.api.market/api.market-usage-api-documentation.md
  - https://docs.api.market/seller-docs/testing-your-apis-and-products.md
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval.md
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt.md
  - https://docs.api.market/api-product-docs/magicapi/screenshot-api
  - https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
  - https://docs.api.market/api-product-docs/magicapi/whois-api
  - https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
  - https://docs.api.market/api-product-docs/magicapi/image-upscale-api
  - https://docs.api.market/api-product-docs/magicapi/dns-checker-api
  - https://docs.api.market/api-product-docs/magicapi/ageify-api
  - https://docs.api.market/api-product-docs/magicapi/image-restoration-api
  - https://docs.api.market/api-product-docs/magicapi/toon-me-api
  - https://docs.api.market/api-product-docs/magicapi/coding-assistant
  - https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
  - https://docs.api.market/api-product-docs/magicapi/image-upload-api
  - https://docs.api.market/api-product-docs/magicapi/deblurer-api
  - https://docs.api.market/api-product-docs/magicapi/hair-changer-api
  - https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
  - https://docs.api.market/api-product-docs/magicapi/whisper-api
  - https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
  - https://docs.api.market/api-product-docs/magicapi/openjourney-api
  - https://docs.api.market/api-product-docs/magicapi/object-remover-api
  - https://docs.api.market/api-product-docs/magicapi/image-captioner-api
  - https://docs.api.market/api-product-docs/magicapi/object-detector-api
  - https://docs.api.market/api-product-docs/magicapi/nsfw-api
  - https://docs.api.market/api-product-docs/magicapi/crunchbase-api
  - https://docs.api.market/api-product-docs/magicapi/pipfeeds-extract-api-developer-documentation
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-8b-instruct
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
servers:
- url: https://prod.api.market
security:
- apiKey: []
tags:
- name: Toonme Api
paths:
  /api/v1/toonme-api/toonify/toonme/v1:
    get:
      operationId: get_api_v1_toonme_api_toonify_toonme_v1
      tags:
      - Toonme Api
      summary: GET /api/v1/toonme-api/toonify/toonme/v1
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ToonmeApiToonifyToonmeV1Response'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/ '  -H ' accept: application/json '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/x-www-form-urlencoded '  -d ' id=EFFECT_ID&image_url=IMAGE_URL ' Copy import requests \n headers = { \n ' accept ' : ' application/json "
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1
      tags:
      - Toonme Api
      summary: POST /api/v1/toonme-api/toonify/toonme/v1
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Response'
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Python PHP NodeJs Javascript Response Available Styles You can choose any style by passing "id" in the toonify request. Image Filter Id 6472 4511 6611 3690 6632 2275 7088 6032 2257 3858 5076 4652 2218 3086 1715 2351 5058 2341 2169 2254 2116 3616 2260 3694 2122 1067 950 2797 1911 1850 1344 782 1915 7004 3757 1826 1106 952 1061 953 7007 976 1705 3804 2961 1060 1097 2344 2349 2354 1693 1926 1312
  /api/v1/toonme-api/toonify/toonme/v1/:
    post:
      operationId: postApiV1ToonmeApiToonifyToonmeV1
      tags:
      - Toonme Api
      summary: Process the image
      description: Submit an image for toonification using the specified effect ID.
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Request'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Response2'
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: post_api_v1_toonme_api_toonify_toonme_v1
  /api/v1/toonme-api/toonify/toonme/v1/result:
    get:
      operationId: get_api_v1_toonme_api_toonify_toonme_v1_result
      tags:
      - Toonme Api
      summary: GET /api/v1/toonme-api/toonify/toonme/v1/result
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ToonmeApiToonifyToonmeV1ResultResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/result/'
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1_result
      tags:
      - Toonme Api
      summary: POST /api/v1/toonme-api/toonify/toonme/v1/result
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultResponse'
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/result/', { \n method: 'POST', \n headers: { \n 'accept': 'application/json', \n 'x-magicapi-key': 'cltfo5s0b0001l308yrlcifh9' \n }, \n body: new URLSearchParams({ \n 'request_id': '5d5a7286-7c81-4c41-9899-094c3f7af35a' \n })"
  /api/v1/toonme-api/toonify/toonme/v1/result/:
    post:
      operationId: postApiV1ToonmeApiToonifyToonmeV1Result
      tags:
      - Toonme Api
      summary: Get Result
      description: Retrieve the result of a previously submitted toonify request.
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultResponse2'
      x-evidence:
        kind: documentation
      x-operation-id-source: normalized
      x-operation-id-original: post_api_v1_toonme_api_toonify_toonme_v1_result
components:
  schemas:
    PostApiV1ToonmeApiToonifyToonmeV1ResultResponse2:
      type: object
      properties:
        image_process_response:
          type: object
          description: Response object containing the result URL and status
    GetApiV1ToonmeApiToonifyToonmeV1ResultResponse:
      type: object
      properties:
        request_id:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1Request:
      type: object
      properties:
        id:
          type: string
          description: EFFECT_ID
        image_url:
          type: string
          description: IMAGE_URL
      required:
      - id
      - image_url
    PostApiV1ToonmeApiToonifyToonmeV1Response2:
      type: object
      properties:
        image_process_response:
          type: object
          description: Response object containing request details
    GetApiV1ToonmeApiToonifyToonmeV1Response:
      type: object
      properties:
        id:
          type: string
        image_url:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1ResultResponse:
      type: object
      properties:
        request_id:
          type: string
        status:
          type: string
        duration:
          type: string
        total_duration:
          type: string
        result_url:
          type: string
        masks:
          type: object
          properties:
            mask:
              type: object
              properties:
                '@index':
                  type: string
                '@name':
                  type: string
                '#text':
                  type: string
        answers:
          type:
          - string
          - 'null'
    PostApiV1ToonmeApiToonifyToonmeV1Response:
      type: object
      properties:
        id:
          type: string
        image_url:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1ResultRequest:
      type: object
      properties:
        request_id:
          type: string
          description: ID returned from the toonify request
      required:
      - request_id
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-market-key
