openapi: 3.1.0
info:
  title: API.market API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 77 operation(s) read from 38 public documentation page(s) (each
    operation names its page in x-source). This is not the provider''s published contract; API.market has published no machine-readable contract
    that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 75
    documentation: 2
    pages-with-code: 38
    pages-read: 38
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.api.market/api.market-mcp-server-guide
  - https://docs.api.market/subscription-management-api-documentation
  - https://docs.api.market/api.market-usage-api-documentation
  - https://docs.api.market/seller-docs/testing-your-apis-and-products
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt
  - https://docs.api.market/api.market-mcp-server-guide.md
  - https://docs.api.market/subscription-management-api-documentation.md
  - https://docs.api.market/api.market-usage-api-documentation.md
  - https://docs.api.market/seller-docs/testing-your-apis-and-products.md
  - https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval.md
  - https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt.md
  - https://docs.api.market/api-product-docs/magicapi/screenshot-api
  - https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
  - https://docs.api.market/api-product-docs/magicapi/whois-api
  - https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
  - https://docs.api.market/api-product-docs/magicapi/image-upscale-api
  - https://docs.api.market/api-product-docs/magicapi/dns-checker-api
  - https://docs.api.market/api-product-docs/magicapi/ageify-api
  - https://docs.api.market/api-product-docs/magicapi/image-restoration-api
  - https://docs.api.market/api-product-docs/magicapi/toon-me-api
  - https://docs.api.market/api-product-docs/magicapi/coding-assistant
  - https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
  - https://docs.api.market/api-product-docs/magicapi/image-upload-api
  - https://docs.api.market/api-product-docs/magicapi/deblurer-api
  - https://docs.api.market/api-product-docs/magicapi/hair-changer-api
  - https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
  - https://docs.api.market/api-product-docs/magicapi/whisper-api
  - https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
  - https://docs.api.market/api-product-docs/magicapi/openjourney-api
  - https://docs.api.market/api-product-docs/magicapi/object-remover-api
  - https://docs.api.market/api-product-docs/magicapi/image-captioner-api
  - https://docs.api.market/api-product-docs/magicapi/object-detector-api
  - https://docs.api.market/api-product-docs/magicapi/nsfw-api
  - https://docs.api.market/api-product-docs/magicapi/crunchbase-api
  - https://docs.api.market/api-product-docs/magicapi/pipfeeds-extract-api-developer-documentation
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-8b-instruct
  - https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
servers:
- url: https://prod.api.market
paths:
  /:
    get:
      operationId: get
      tags:
      - Api
      summary: GET /
      x-source: https://docs.api.market/api-product-docs/magicapi/whois-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl); \n if ($err) { \n echo \"cURL Error #:\" . $err; \n } else { \n echo $response; \n } Copy { \n \"OrganizationName\":\
          \ null, \n \"Raw\": \" Domain Name: GOOGLE.COM\\r\\n Registry Domain ID: 2138514_DOMAIN_COM-VRSN\\r\\n Registrar WHOIS Server: whois.markmonitor.com\\\
          r\\n Registrar URL: http://www.markmonitor.com\\r\\n Updated Date: 2019-09-09T15:39:04Z\\r\\n Creation Date: 1997-09-15T04:00:00Z\\\
          r\\n Registry Expiry Da"
  /api/mcp/magicapi/{magicapiid}:
    get:
      operationId: get_api_mcp_magicapi_magicapiid
      tags:
      - Api
      summary: GET /api/mcp/magicapi/domainchecker
      description: MCP endpoint for the Domain Checker utility API.
      x-source: https://docs.api.market/api.market-mcp-server-guide
      parameters:
      - name: magicapiid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at magicapiId
    post:
      operationId: post_api_mcp_magicapi_magicapiid
      tags:
      - Api
      summary: POST /api/mcp/magicapi/domainchecker
      x-source: https://docs.api.market/api.market-mcp-server-guide
      parameters:
      - name: magicapiid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiMcpMagicapiMagicapiidRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiMcpMagicapiMagicapiidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X POST "https://prod.api.market/api/mcp/magicapi/domainchecker"  -H "Content-Type: application/json"  -H "x-api-market-key:
          YOUR_API_KEY"  -d ''{"jsonrpc": "2.0", "id": 1, "method": "initialize", "params": {}}'' '
        collapsed_from: 2 example path(s) differing only at magicapiId
  /api/v1/bridgeml/meta-llama3-70b/bridgeml/meta-llama3-70b:
    post:
      operationId: post_api_v1_bridgeml_meta_llama3_70b_bridgeml_meta_llama3_70b
      tags:
      - Api
      summary: POST /api/v1/bridgeml/meta-llama3-70b/bridgeml/meta-llama3-70b
      x-source: https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/bridgeml/meta-llama3-70b/bridgeml/meta-llama3-70b'  -H 'accept: application/json'\
          \  -H 'x-api-market-key: API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"messages\": [ \n { \n \"role\": \"user\", \n \"content\"\
          : \"hello\" \n }, \n { \n \"role\": \"assistant\", \n \"content\": \"As a senior software engineer create a AWS python lambda that calls\
          \ an API with the given"
  /api/v1/bridgeml/meta-llama3-8b/bridgeml/meta-llama3-8b:
    post:
      operationId: post_api_v1_bridgeml_meta_llama3_8b_bridgeml_meta_llama3_8b
      tags:
      - Api
      summary: POST /api/v1/bridgeml/meta-llama3-8b/bridgeml/meta-llama3-8b
      x-source: https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-8b-instruct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1BridgemlMetaLlama38BBridgemlMetaLlama38BRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/bridgeml/meta-llama3-8b/bridgeml/meta-llama3-8b'  -H 'accept: application/json'\
          \  -H 'x-api-market-key: API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"messages\": [ \n { \n \"role\": \"user\", \n \"content\"\
          : \"hello\" \n }, \n { \n \"role\": \"assistant\", \n \"content\": \"As a senior copywriter, write a long-form blog on why they should\
          \ integrate LLM APIs from a"
  /api/v1/magicapi/aiqrcode/predictions:
    post:
      operationId: post_api_v1_magicapi_aiqrcode_predictions
      tags:
      - Api
      summary: POST /api/v1/magicapi/aiqrcode/predictions
      x-source: https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiAiqrcodePredictionsRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/aiqrcode/predictions'  -H 'accept: application/json'  -H 'x-api-market-key:\
          \ API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"input\": { \n \"seed\": 7649977190, \n \"width\": 768, \n \"border\": 2,\
          \ \n \"height\": 768, \n \"prompt\": \"surreal futuristic house floating on a cloud...\", \n \"qr_code_content\": \"https://api.market\"\
          , \n \"qrcode_background\": \"w"
  /api/v1/magicapi/captioner/captioner:
    get:
      operationId: get_api_v1_magicapi_captioner_captioner
      tags:
      - Api
      summary: GET /api/v1/magicapi/captioner/captioner
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCaptionerCaptionerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/captioner/captioner'
    post:
      operationId: post_api_v1_magicapi_captioner_captioner
      tags:
      - Api
      summary: POST /api/v1/magicapi/captioner/captioner
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCaptionerCaptionerRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCaptionerCaptionerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javscript Get the result Curl Python PHP NodeJs Javscript
          Previous Object Remover API Next Object Detector API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/captioner/captioner''  -H
          ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-Typ'
  /api/v1/magicapi/coder/coder:
    get:
      operationId: get_api_v1_magicapi_coder_coder
      tags:
      - Api
      summary: GET /api/v1/magicapi/coder/coder
      x-source: https://docs.api.market/api-product-docs/magicapi/coding-assistant
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCoderCoderResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/coder/coder'
    post:
      operationId: post_api_v1_magicapi_coder_coder
      tags:
      - Api
      summary: POST /api/v1/magicapi/coder/coder
      x-source: https://docs.api.market/api-product-docs/magicapi/coding-assistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCoderCoderRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCoderCoderResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Toon Me API Next 🎭 FaceSwap API: Instantaneous replaces face with one another Last updated 8 months ago About Curl Requests
          and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/coder/coder''  -H ''accept: application/json''  -H ''x-magicapi-k'
  /api/v1/magicapi/colorizer/colorizer:
    get:
      operationId: get_api_v1_magicapi_colorizer_colorizer
      tags:
      - Api
      summary: GET /api/v1/magicapi/colorizer/colorizer
      x-source: https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiColorizerColorizerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/colorizer/colorizer'
    post:
      operationId: post_api_v1_magicapi_colorizer_colorizer
      tags:
      - Api
      summary: POST /api/v1/magicapi/colorizer/colorizer
      x-source: https://docs.api.market/api-product-docs/magicapi/image-colorizer-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiColorizerColorizerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Whisper API Next OpenJourney API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/colorizer/colorizer''  -H
          ''accept: application/json''  -H ''x-api-market-kay: API_KEY''  -H ''Content-Type: appl'
  /api/v1/magicapi/crunchbase/autocompletes:
    get:
      operationId: get_api_v1_magicapi_crunchbase_autocompletes
      tags:
      - Api
      summary: GET /api/v1/magicapi/crunchbase/autocompletes
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses For /autocompletes endpoint, data would be: Curl Python PHP NodeJs Javascript Copy curl -X ' POST\
          \ '  ' https://prod.api.market/api/v1/magicapi/crunchbase/autocompletes '  -H ' accept: application/json '  -H ' x-api-market-key: API_KEY\
          \ '  -H ' Content-Type: application/json '  -d ' { \n \"query\": \"openAI\" \n } ' Copy import requests \n headers = { \n ' accept '\
          \ : ' applicatio"
    post:
      operationId: post_api_v1_magicapi_crunchbase_autocompletes
      tags:
      - Api
      summary: POST /api/v1/magicapi/crunchbase/autocompletes
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseAutocompletesRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseAutocompletesResponse'
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://prod..api.market/api/v1/magicapi/crunchbase/autocompletes', { \n method: 'POST', \n headers: { \n 'accept': 'application/json',\
          \ \n 'x-api-market-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'query': 'openAI' \n })"
  /api/v1/magicapi/crunchbase/{crunchbaseid}/organizations:
    get:
      operationId: get_api_v1_magicapi_crunchbase_crunchbaseid_organizations
      tags:
      - Api
      summary: GET /api/v1/magicapi/crunchbase/entities/organizations
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      parameters:
      - name: crunchbaseid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/crunchbase/entities/organizations'
        collapsed_from: 2 example path(s) differing only at crunchbaseId
    post:
      operationId: post_api_v1_magicapi_crunchbase_crunchbaseid_organizations
      tags:
      - Api
      summary: POST /api/v1/magicapi/crunchbase/entities/organizations
      x-source: https://docs.api.market/api-product-docs/magicapi/crunchbase-api
      parameters:
      - name: crunchbaseid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/crunchbase/entities/organizations'  -H 'accept: application/json' \
          \ -H 'x-api-market-key: api_API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"entity_id\": \"cf2c678c-b81a-80c3-10d1-9c5e76448e51\"\
          \ \n }' Copy import requests \n headers = { \n 'accept': 'application/json', \n 'x-api-market-key': 'api_API_KEY', \n 'Content-Type':\
          \ 'application/jso"
        collapsed_from: 2 example path(s) differing only at crunchbaseId
  /api/v1/magicapi/deblurer/deblurer:
    get:
      operationId: get_api_v1_magicapi_deblurer_deblurer
      tags:
      - Api
      summary: GET /api/v1/magicapi/deblurer/deblurer
      x-source: https://docs.api.market/api-product-docs/magicapi/deblurer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiDeblurerDeblurerResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/deblurer/deblurer'
    post:
      operationId: post_api_v1_magicapi_deblurer_deblurer
      tags:
      - Api
      summary: POST /api/v1/magicapi/deblurer/deblurer
      x-source: https://docs.api.market/api-product-docs/magicapi/deblurer-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDeblurerDeblurerRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiDeblurerDeblurerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous 🏞️ Image Upload API Next Hair Changer API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/deblurer/deblurer''  -H
          ''accept: application/json''  -H ''x-magicapi-key: API_KEY''  -H ''Content-Type'
  /api/v1/magicapi/dnschecker/dnschecker:
    get:
      operationId: get_api_v1_magicapi_dnschecker_dnschecker
      tags:
      - Api
      summary: GET /api/v1/magicapi/dnschecker/dnschecker
      x-source: https://docs.api.market/api-product-docs/magicapi/dns-checker-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiDnscheckerDnscheckerResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/dnschecker/dnschecker\
          \ '  -H ' accept: application/json '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"domain\": \"\
          api.market\" \n } ' Copy import requests \n headers = { \n ' accept ' : ' application/json ' , \n ' x-magicapi-k"
    post:
      operationId: post_api_v1_magicapi_dnschecker_dnschecker
      tags:
      - Api
      summary: POST /api/v1/magicapi/dnschecker/dnschecker
      x-source: https://docs.api.market/api-product-docs/magicapi/dns-checker-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDnscheckerDnscheckerRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/magicapi/dnschecker/dnschecker', { \n method: 'POST', \n headers: { \n 'accept': 'application/json',\
          \ \n 'x-magicapi-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'domain': 'api.market' \n\
          \ })"
  /api/v1/magicapi/domainchecker/check_domains:
    get:
      operationId: get_api_v1_magicapi_domainchecker_check_domains
      tags:
      - Api
      summary: GET /api/v1/magicapi/domainchecker/check_domains
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response : Request CURL NodeJS Python Java PHP Copy curl -X ' POST '  ' https://prod.api.market/api/v1/magicapi/domainchecker/check_domains/\
          \ '  -H ' accept: application/json '  -H ' x-api-market-key: API-KEY '  -H ' Content-Type: application/json '  -d ' { \n \"domain_name\"\
          : \"google\" \n } ' Copy const fetch = require ( ' node-fetch ' ) ; \n let url = ' https://prod.api.market/api/v1/m"
    post:
      operationId: post_api_v1_magicapi_domainchecker_check_domains
      tags:
      - Api
      summary: POST /api/v1/magicapi/domainchecker/check_domains
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl); \n if ($err) { \n echo \"cURL Error #:\" . $err; \n } else { \n echo $response; \n } Copy curl -X 'POST'  'https://prod.api.market/api/v1/magicapi/domainchecker/check_domains/'\
          \  -H 'accept: application/json'  -H 'x-api-market-key: API_KEY'  -H 'Content-Type: application/json'  -d '{ \n \"domain_name\": \"\
          google\" \n }' Copy { \n \"available\": [ \n \"google.design\", \n \"google.bz\", \n \"google.city\", \n \"google."
  /api/v1/magicapi/domainchecker/check_domains/:
    post:
      operationId: post_api_v1_magicapi_domainchecker_check_domains
      tags:
      - Api
      summary: Domain Availability Checker API is a powerful tool designed to check 500 domain extensions to see if domain name is taken or available.
      description: Send a POST request with a JSON body containing "domain_name" to check its availability across multiple extensions. Returns
        a JSON object with "available" and "taken" arrays.
      x-source: https://docs.api.market/api-product-docs/magicapi/domain-availability-checker-api
      parameters:
      - name: domain_name
        in: query
        required: true
        schema:
          type: string
        description: The domain name to check (without extension).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsRequest2'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiDomaincheckerCheckDomainsResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/faceswap:
    post:
      operationId: post_api_v1_magicapi_faceswap
      tags:
      - Api
      summary: POST /api/v1/magicapi/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiFaceswapResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/faceswap/ '  -H ' accept: application/json '  -H ' x-magicapi-key:\
          \ you-api-key '  -H ' Content-Type: application/json '  -d ' { \n \"input\": { \n \"swap_image\": \"https://blog.api.market/wp-content/uploads/2024/06/Elon_Musk.png\"\
          , \n \"target_image\": \"https://blog.api.market/wp-content/uploads/2024/06/Shahrukh_khan.png\" \n } \n } ' Example Respons"
  /api/v1/magicapi/faceswap/:
    post:
      operationId: post_api_v1_magicapi_faceswap
      tags:
      - Api
      summary: 'FaceSwap API: Instantaneous replaces face with one another'
      description: Swap faces between two images by providing URLs for the swap image and the target image.
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapRequest2'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiFaceswapResponse2'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/faceswap/faceswap:
    get:
      operationId: get_api_v1_magicapi_faceswap_faceswap
      tags:
      - Api
      summary: GET /api/v1/magicapi/faceswap/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiFaceswapFaceswapResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/faceswap/faceswap'
    post:
      operationId: post_api_v1_magicapi_faceswap_faceswap
      tags:
      - Api
      summary: POST /api/v1/magicapi/faceswap/faceswap
      x-source: https://docs.api.market/api-product-docs/magicapi/faceswap-api-instantaneous-replaces-face-with-one-another
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiFaceswapFaceswapRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/magicapi/faceswap/faceswap', { \n method: 'POST', \n headers: { \n 'accept': 'application/json',\
          \ \n 'x-magicapi-key': 'API_KEY', \n 'Content-Type': 'application/json' \n }, \n body: JSON.stringify({ \n 'swap_image': 'SWAP_IMAGE',\
          \ \n 'target_image': 'TARGET_IMAGE' \n })"
  /api/v1/magicapi/gpt-5/chat/completions:
    post:
      operationId: post_api_v1_magicapi_gpt_5_chat_completions
      tags:
      - Api
      summary: POST /api/v1/magicapi/gpt-5/chat/completions
      x-source: https://docs.api.market/seller-docs/testing-your-apis-and-products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiGpt5ChatCompletionsRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiGpt5ChatCompletionsResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X POST \"https://prod.api.market/api/v1/magicapi/gpt-5/chat/completions\"  -H \"Content-Type: application/json\"  -H \"\
          x-api-market-key: YOUR_API_MARKET_KEY\"  -d '{ \n \"model\": \"gpt-5\", \n \"messages\": [ \n { \n \"role\": \"user\", \n \"content\"\
          : \"What is the capital of France?\" \n } \n ] \n }' \n Copy const apiKey = \"YOUR_API_MARKET_KEY\"; \n const baseUrl = \"https://prod.api.market/api/v1/magicapi/gpt-5\"\
          ; \n asy"
  /api/v1/magicapi/hair/hair:
    get:
      operationId: get_api_v1_magicapi_hair_hair
      tags:
      - Api
      summary: GET /api/v1/magicapi/hair/hair
      x-source: https://docs.api.market/api-product-docs/magicapi/hair-changer-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiHairHairResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/hair/hair'
    post:
      operationId: post_api_v1_magicapi_hair_hair
      tags:
      - Api
      summary: POST /api/v1/magicapi/hair/hair
      x-source: https://docs.api.market/api-product-docs/magicapi/hair-changer-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiHairHairRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiHairHairResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Parameters color_description would be - purple, red, orange, yellow, green, blue, gray, brown, black, white, blond, pink hairstyle_description
          would be these: Previous Deblurer API Next 🤳🏻🤖AI Qr Code Generator API Last updated 8 months ago About Curl Requests and Respons'
  /api/v1/magicapi/image-upload/upload:
    post:
      operationId: post_api_v1_magicapi_image_upload_upload
      tags:
      - Api
      summary: Image Upload API
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upload-api
      parameters:
      - name: x-magicapi-key
        in: header
        required: true
        schema:
          type: string
        description: Your API key for authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiImageUploadUploadRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiImageUploadUploadResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/nsfw/nsfw:
    get:
      operationId: get_api_v1_magicapi_nsfw_nsfw
      tags:
      - Api
      summary: GET /api/v1/magicapi/nsfw/nsfw
      x-source: https://docs.api.market/api-product-docs/magicapi/nsfw-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiNsfwNsfwResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/nsfw/nsfw'
    post:
      operationId: post_api_v1_magicapi_nsfw_nsfw
      tags:
      - Api
      summary: POST /api/v1/magicapi/nsfw/nsfw
      x-source: https://docs.api.market/api-product-docs/magicapi/nsfw-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiNsfwNsfwResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Object Detector API Next Crunchbase API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/nsfw/nsfw''  -H
          ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-Type: applicati'
  /api/v1/magicapi/objectdetector/objectdetector:
    get:
      operationId: get_api_v1_magicapi_objectdetector_objectdetector
      tags:
      - Api
      summary: GET /api/v1/magicapi/objectdetector/objectdetector
      x-source: https://docs.api.market/api-product-docs/magicapi/object-detector-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiObjectdetectorObjectdetectorResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/objectdetector/objectdetector'
    post:
      operationId: post_api_v1_magicapi_objectdetector_objectdetector
      tags:
      - Api
      summary: POST /api/v1/magicapi/objectdetector/objectdetector
      x-source: https://docs.api.market/api-product-docs/magicapi/object-detector-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiObjectdetectorObjectdetectorRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiObjectdetectorObjectdetectorResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Image Captioner API Next NSFW API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/objectdetector/objectdetector''  -H
          ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Content-T'
  /api/v1/magicapi/objectremover/objectremover:
    get:
      operationId: get_api_v1_magicapi_objectremover_objectremover
      tags:
      - Api
      summary: GET /api/v1/magicapi/objectremover/objectremover
      x-source: https://docs.api.market/api-product-docs/magicapi/object-remover-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiObjectremoverObjectremoverResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/objectremover/objectremover'
    post:
      operationId: post_api_v1_magicapi_objectremover_objectremover
      tags:
      - Api
      summary: POST /api/v1/magicapi/objectremover/objectremover
      x-source: https://docs.api.market/api-product-docs/magicapi/object-remover-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiObjectremoverObjectremoverRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiObjectremoverObjectremoverResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous OpenJourney API Next Image Captioner API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api-market/api/v1/magicapi/objectremover/objectremover''  -H
          ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Cont'
  /api/v1/magicapi/openjourney/openjourney:
    get:
      operationId: get_api_v1_magicapi_openjourney_openjourney
      tags:
      - Api
      summary: GET /api/v1/magicapi/openjourney/openjourney
      x-source: https://docs.api.market/api-product-docs/magicapi/openjourney-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiOpenjourneyOpenjourneyResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://prod.api.market/api/v1/magicapi/openjourney/openjourney'
    post:
      operationId: post_api_v1_magicapi_openjourney_openjourney
      tags:
      - Api
      summary: POST /api/v1/magicapi/openjourney/openjourney
      x-source: https://docs.api.market/api-product-docs/magicapi/openjourney-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiOpenjourneyOpenjourneyRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiOpenjourneyOpenjourneyResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Image Colorizer API Next Object Remover API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://prod.api.market/api/v1/magicapi/openjourney/openjourney''  -H
          ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H ''Conte'
  /api/v1/magicapi/pdf-extract/pdf-to-html-file/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_html_file
      tags:
      - Api
      summary: Convert an uploaded PDF file to HTML.
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlFileRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlFileResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-html-url/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_html_url
      tags:
      - Api
      summary: Convert a PDF hosted online to HTML.
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlUrlRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToHtmlUrlResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-text-file/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_text_file
      tags:
      - Api
      summary: Convert an uploaded PDF file to plain text.
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextFileRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextFileResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/pdf-to-text-url/:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdf_to_text_url
      tags:
      - Api
      summary: Convert a PDF hosted online to plain text.
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextUrlRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfToTextUrlResponse'
      x-evidence:
        kind: documentation
  /api/v1/magicapi/pdf-extract/{pdfextractid}:
    post:
      operationId: post_api_v1_magicapi_pdf_extract_pdfextractid
      tags:
      - Api
      summary: POST /api/v1/magicapi/pdf-extract/pdf-to-html-url
      x-source: https://docs.api.market/api-product-docs/magicapi/pdf-conversion-api
      parameters:
      - name: pdfextractid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfextractidRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPdfExtractPdfextractidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response : For /pdf-to-html-url/ endpoint, the data would be : Request : CURL NodeJS Python Java Copy curl\
          \ -X ' POST '  ' https://prod.api.market/api/v1/magicapi/pdf-extract/pdf-to-html-url/ '  -H ' accept: text/html '  -H ' x-api-market-key:\
          \ API-KEY '  -H ' Content-Type: application/json '  -d ' { \n \"pdf_url\": \"https://www.cedarville.edu/-/media/Files/PDF/Web-Development-Services"
        collapsed_from: 4 example path(s) differing only at pdfextractId
  /api/v1/magicapi/period/period:
    get:
      operationId: get_api_v1_magicapi_period_period
      tags:
      - Api
      summary: GET /api/v1/magicapi/period/period
      x-source: https://docs.api.market/api-product-docs/magicapi/ageify-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiPeriodPeriodResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/period/period'
    post:
      operationId: post_api_v1_magicapi_period_period
      tags:
      - Api
      summary: POST /api/v1/magicapi/period/period
      x-source: https://docs.api.market/api-product-docs/magicapi/ageify-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiPeriodPeriodResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Data Handling and Security Practices Our API does not store customer data on our servers. While the results of API requests may reference
          the URL of an image, the image itself is temporarily stored on our cloud infrastructure, managed through a highly reputable global cl
  /api/v1/magicapi/restoration/restoration:
    get:
      operationId: get_api_v1_magicapi_restoration_restoration
      tags:
      - Api
      summary: GET /api/v1/magicapi/restoration/restoration
      x-source: https://docs.api.market/api-product-docs/magicapi/image-restoration-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiRestorationRestorationResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/restoration/restoration'
    post:
      operationId: post_api_v1_magicapi_restoration_restoration
      tags:
      - Api
      summary: POST /api/v1/magicapi/restoration/restoration
      x-source: https://docs.api.market/api-product-docs/magicapi/image-restoration-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiRestorationRestorationResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous Ageify API Next Toon Me API Last updated 8 months ago About Curl Requests and Responses Copy curl -X ''POST''  ''https://api.magicapi.dev/api/v1/magicapi/restoration/restoration''  -H
          ''accept: application/json''  -H ''x-magicapi-key: API_KEY''  -H ''Content-Type: applicat'
  /api/v1/magicapi/screenshot-api/api/screenshot:
    get:
      operationId: get_api_v1_magicapi_screenshot_api_api_screenshot
      tags:
      - Api
      summary: GET /api/v1/magicapi/screenshot-api/api/screenshot
      x-source: https://docs.api.market/api-product-docs/magicapi/screenshot-api
      parameters:
      - name: dismissModals
        in: query
        required: false
        schema:
          type: string
      - name: isFullPage
        in: query
        required: false
        schema:
          type: string
      - name: outFormat
        in: query
        required: false
        schema:
          type: string
      - name: resX
        in: query
        required: false
        schema:
          type: string
      - name: resY
        in: query
        required: false
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
      - name: waitTime
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Request and Response Request Curl NodeJS Python Java PHP Copy curl -X ' GET '  ' https://prod.api.market/api/v1/magicapi/screenshot-api/api/screenshot?resX=1280&resY=900&outFormat=jpg&waitTime=100&isFullPage=false&dismissModals=false&url=https%3A%2F%2Fapi.market%2F\
          \ '  -H ' accept: image/jpeg '  -H ' x-api-market-key: API_KEY ' Copy const fetch = require ( 'node-fetch' ); \n let url = ' https:/"
  /api/v1/magicapi/upscaler/upscale2x:
    get:
      operationId: get_api_v1_magicapi_upscaler_upscale2x
      tags:
      - Api
      summary: GET /api/v1/magicapi/upscaler/upscale2x
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upscale-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl and Response Request Curl NodeJS Python Java PHP Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/magicapi/upscaler/upscale2x/\
          \ '  -H ' accept: image/jpeg '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"url\": \"https://production-media.paperswithcode.com/datasets/Set5-0000002728-07a9793f_zA3bDjj.jpg\"\
          \ \n } ' Copy const fetch = require ( 'node-fetch' ); "
    post:
      operationId: post_api_v1_magicapi_upscaler_upscale2x
      tags:
      - Api
      summary: POST /api/v1/magicapi/upscaler/upscale2x
      x-source: https://docs.api.market/subscription-management-api-documentation.md
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiUpscalerUpscale2XResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Example (2× Upscale)\n```bash\ncurl -X ''POST'' \\\n  ''https://api.magicapi.dev/api/v1/magicapi/upscaler/upscale2x/''
          \\\n  -H ''accept: image/jpeg'' \\\n  -H ''x-api-market-key: API_KEY'' \\\n  -H ''Content-Type: application/json'' \\\n  -d ''{\n    \"url\":
          \"https://production-media.paperswithcode.com/datasets/Set5-0000002728-07a9793f_zA3bDjj.jpg\"\n}''\n```\n\n**Sample Output Image**\n<img
          src=\"htt'
  /api/v1/magicapi/upscaler/upscale2x/:
    post:
      operationId: post_api_v1_magicapi_upscaler_upscale2x
      tags:
      - Api
      summary: Image Upscale API
      description: Send a POST request to /upscale2x/ with the URL of the image to be upscaled in the request body. Returns a JPEG image of the
        upscaled result.
      x-source: https://docs.api.market/api-product-docs/magicapi/image-upscale-api
      parameters:
      - name: x-magicapi-key
        in: header
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          type: object
        description: 'JSON payload containing the image URL to upscale, e.g. { "url": "https://..." }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiUpscalerUpscale2XRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/v1/magicapi/whisper/whisper:
    get:
      operationId: get_api_v1_magicapi_whisper_whisper
      tags:
      - Api
      summary: GET /api/v1/magicapi/whisper/whisper
      x-source: https://docs.api.market/api-product-docs/magicapi/whisper-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiWhisperWhisperResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/magicapi/whisper/whisper'
    post:
      operationId: post_api_v1_magicapi_whisper_whisper
      tags:
      - Api
      summary: POST /api/v1/magicapi/whisper/whisper
      x-source: https://docs.api.market/api-product-docs/magicapi/whisper-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1MagicapiWhisperWhisperRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1MagicapiWhisperWhisperResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl Requests and Responses Process the API Curl Python PHP NodeJs Javascript Get the result Curl Python PHP NodeJs Javascript
          Previous 🤳🏻🤖AI Qr Code Generator API Next Image Colorizer API Last updated 8 months ago About Curl Requests and Responses Copy curl
          -X ''POST''  ''https://prod.api.market/api/v1/magicapi/whisper/whisper''  -H ''accept: application/json''  -H ''x-api-market-key: API_KEY''  -H
          ''Cont'
  /api/v1/magicapi/whois/whois/{domain}:
    get:
      operationId: get_api_v1_magicapi_whois_whois_domain
      tags:
      - Api
      summary: Meta-Llama-3-70B-Instruct | API.Market
      x-source: https://docs.api.market/api-product-docs/bridgeml/meta-llama-3-70b-instruct
      parameters:
      - name: domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /api/v1/magicapi/{magicapiid}/predictions/{requestid}:
    get:
      operationId: get_api_v1_magicapi_magicapiid_predictions_requestid
      tags:
      - Api
      summary: GET /api/v1/magicapi/captioner/predictions/{requestId}
      x-source: https://docs.api.market/api-product-docs/magicapi/image-captioner-api
      parameters:
      - name: magicapiid
        in: path
        required: true
        schema:
          type: string
      - name: requestid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1MagicapiMagicapiidPredictionsRequestidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X 'GET'  'https://prod.api.market/api/v1/magicapi/captioner/predictions/REQUEST_ID'  -H 'accept: application/json'  -H\
          \ 'x-api-market-key: API_KEY' Copy import requests \n headers = { \n 'accept': 'application/json', \n 'x-api-market-key': 'API_KEY',\
          \ \n } \n response = requests.get('https://prod.api.market/api/v1/magicapi/captioner/predictions/REQUEST_ID', headers=headers) Copy\
          \ <?php "
        collapsed_from: 12 example path(s) differing only at magicapiId
  /api/v1/pipfeed/parse/extract:
    get:
      operationId: get_api_v1_pipfeed_parse_extract
      tags:
      - Api
      summary: GET /api/v1/pipfeed/parse/extract
      x-source: https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1PipfeedParseExtractResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X ' POST '  ' https://prod.api.market/api/v1/pipfeed/parse/extract '  -H ' accept: application/json '  -H ' x-api-market-key:\
          \ API_KEY '  -H ' Content-Type: application/json '  -d ' { \n \"url\": \"https://techcrunch.com/2022/04/18/web-scraping-legal-court/\"\
          \ \n } ' \n Response: \n { \n \"url\" : \" https://techcrunch.com/2022/04/18/web-scraping-legal-court/ \" , \n \"title\" : \" Web scraping\
          \ is legal, US ap"
    post:
      operationId: post_api_v1_pipfeed_parse_extract
      tags:
      - Api
      summary: POST /api/v1/pipfeed/parse/extract
      x-source: https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1PipfeedParseExtractRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location 'https://prod.api.market/api/v1/pipfeed/parse/extract'  --header 'accept: application/json'  --header 'x-api-market-key:\
          \ YOUR_API_KEY'  --header 'Content-Type: application/json'  --data '{ \n \"url\": \"https://techcrunch.com/2022/04/18/web-scraping-legal-court/\"\
          \ \n }' Copy { \n \"x-request-id\": \"f8e1d576-a460-4847-8683-c31b88c4a958\", \n \"host\": \"localhost:4000\", \n \"connection\": \"\
          keep-aliv"
  /api/v1/subscription/{workspaceslug}/{productslug}:
    delete:
      operationId: delete_api_v1_subscription_workspaceslug_productslug
      tags:
      - Api
      summary: Cancel Subscription
      x-source: https://docs.api.market/subscription-management-api-documentation.md
      parameters:
      - name: workspaceslug
        in: path
        required: true
        schema:
          type: string
      - name: productslug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiV1SubscriptionWorkspaceslugProductslugResponse'
      x-evidence:
        kind: documentation
  /api/v1/subscription/{workspaceslug}/{productslug}/{pricingplanid}:
    post:
      operationId: post_api_v1_subscription_workspaceslug_productslug_pricingplanid
      tags:
      - Api
      summary: Create/Upgrade/Downgrade Subscription
      x-source: https://docs.api.market/subscription-management-api-documentation.md
      parameters:
      - name: workspaceslug
        in: path
        required: true
        schema:
          type: string
      - name: productslug
        in: path
        required: true
        schema:
          type: string
      - name: pricingplanid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1SubscriptionWorkspaceslugProductslugPricingplanidRe'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1SubscriptionWorkspaceslugProductslugPricingplanidRe2'
      x-evidence:
        kind: documentation
  /api/v1/toonme-api/toonify/toonme/v1:
    get:
      operationId: get_api_v1_toonme_api_toonify_toonme_v1
      tags:
      - Api
      summary: GET /api/v1/toonme-api/toonify/toonme/v1
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ToonmeApiToonifyToonmeV1Response'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl Requests and Responses Process the image Curl Python PHP NodeJs Javascript Copy curl -X ' POST '  ' https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/\
          \ '  -H ' accept: application/json '  -H ' x-magicapi-key: API_KEY '  -H ' Content-Type: application/x-www-form-urlencoded '  -d ' id=EFFECT_ID&image_url=IMAGE_URL\
          \ ' Copy import requests \n headers = { \n ' accept ' : ' application/json "
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1
      tags:
      - Api
      summary: POST /api/v1/toonme-api/toonify/toonme/v1
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Response'
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl Python PHP NodeJs Javascript Response Available Styles You can choose any style by passing "id" in the toonify request.
          Image Filter Id 6472 4511 6611 3690 6632 2275 7088 6032 2257 3858 5076 4652 2218 3086 1715 2351 5058 2341 2169 2254 2116 3616 2260 3694
          2122 1067 950 2797 1911 1850 1344 782 1915 7004 3757 1826 1106 952 1061 953 7007 976 1705 3804 2961 1060 1097 2344 2349 2354 1693 1926
          1312
  /api/v1/toonme-api/toonify/toonme/v1/:
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1
      tags:
      - Api
      summary: Process the image
      description: Submit an image for toonification using the specified effect ID.
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Request'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1Response2'
      x-evidence:
        kind: documentation
  /api/v1/toonme-api/toonify/toonme/v1/result:
    get:
      operationId: get_api_v1_toonme_api_toonify_toonme_v1_result
      tags:
      - Api
      summary: GET /api/v1/toonme-api/toonify/toonme/v1/result
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1ToonmeApiToonifyToonmeV1ResultResponse'
      x-evidence:
        kind: code-example
        language: php
        snippet: CURLOPT_URL, 'https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/result/'
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1_result
      tags:
      - Api
      summary: POST /api/v1/toonme-api/toonify/toonme/v1/result
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultResponse'
      x-evidence:
        kind: code-example
        language: javascript
        snippet: "fetch('https://api.magicapi.dev/api/v1/toonme-api/toonify/toonme/v1/result/', { \n method: 'POST', \n headers: { \n 'accept':\
          \ 'application/json', \n 'x-magicapi-key': 'cltfo5s0b0001l308yrlcifh9' \n }, \n body: new URLSearchParams({ \n 'request_id': '5d5a7286-7c81-4c41-9899-094c3f7af35a'\
          \ \n })"
  /api/v1/toonme-api/toonify/toonme/v1/result/:
    post:
      operationId: post_api_v1_toonme_api_toonify_toonme_v1_result
      tags:
      - Api
      summary: Get Result
      description: Retrieve the result of a previously submitted toonify request.
      x-source: https://docs.api.market/api-product-docs/magicapi/toon-me-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV1ToonmeApiToonifyToonmeV1ResultResponse2'
      x-evidence:
        kind: documentation
  /api/v1/user/usage:
    get:
      operationId: get_api_v1_user_usage
      tags:
      - Api
      summary: GET /api/v1/user/usage
      x-source: https://docs.api.market/api.market-usage-api-documentation.md
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1UserUsageResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X GET ''https://prod.api.market/api/v1/user/usage/''  -H ''x-api-market-key: YOUR_API_MARKET_KEY''  -H ''accept: application/json''

          ```'
  /api/v1/user/usage/:
    get:
      operationId: get_api_v1_user_usage
      tags:
      - Api
      summary: Usage for All Active Subscriptions
      x-source: https://docs.api.market/api.market-usage-api-documentation.md
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1UserUsageResponse2'
      x-evidence:
        kind: documentation
  /api/v1/user/usage/magicapi/faceswap-v2:
    get:
      operationId: get_api_v1_user_usage_magicapi_faceswap_v2
      tags:
      - Api
      summary: GET /api/v1/user/usage/magicapi/faceswap-v2
      x-source: https://docs.api.market/api.market-usage-api-documentation
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl) Example Response Field Reference Field Type Notes apiName string <store>/<product> canonical identifier store string Slug
          of the provider store apiProduct string Slug of the pricing plan / product quota int Monthly (or plan) call allowance apiCallsLeft int
          Remaining calls in current period apiCallsMade int Calls consumed so far startDate ISO-8601 Billing cycle start renewDate ISO-8601 Next
          a
  /api/v1/{v1id}/{workspaceslug}/{productslug}:
    get:
      operationId: get_api_v1_v1id_workspaceslug_productslug
      tags:
      - Api
      summary: Get Product Details with Pricing Plans
      x-source: https://docs.api.market/subscription-management-api-documentation.md
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      - name: workspaceslug
        in: path
        required: true
        schema:
          type: string
      - name: productslug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiV1V1IdWorkspaceslugProductslugResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at v1Id
  /api/v2/pipfeed/overrideCustomUsage:
    post:
      operationId: post_api_v2_pipfeed_overrideCustomUsage
      tags:
      - Api
      summary: POST /api/v2/pipfeed/overrideCustomUsage
      x-source: https://docs.api.market/seller-docs/overriding-custom-usage-on-result-retrieval.md
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV2PipfeedOverridecustomusageRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location 'https://prod.api.market/api/v2/pipfeed/overrideCustomUsage'  --header 'accept: application/json'  --header\
          \ 'x-api-market-key: ADMIN_API_KEY'  --header 'Content-Type: application/json'  --data '{\n    \"data\": {\n        \"overrideRequestId\"\
          : \"f8e1d576-a460-4847-8683-c31b88c4a958\",\n        \"overrideCustomUsage\": \"API=812;\"\n    }\n}'\n```"
  /images/generate:
    post:
      operationId: post_images_generate
      tags:
      - Images
      summary: POST /images/generate → post_images_generate tool
      description: Tool generation mapping for image generation.
      x-source: https://docs.api.market/api.market-mcp-server-guide
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /images/result:
    get:
      operationId: get_images_result
      tags:
      - Images
      summary: GET /images/result → get_images_result tool
      description: Tool generation mapping for retrieving image generation results.
      x-source: https://docs.api.market/api.market-mcp-server-guide
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /models/{id}:
    put:
      operationId: put_models_id
      tags:
      - Models
      summary: PUT /models/{id} → put_models_by_id tool
      description: Tool generation mapping for updating a model by ID.
      x-source: https://docs.api.market/api.market-mcp-server-guide
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /pipfeed/parse/extract:
    post:
      operationId: post_pipfeed_parse_extract
      tags:
      - Pipfeed
      summary: Using the request and response below, create a detailed OpenAPI specification.
      x-source: https://docs.api.market/fundamentals/create-openapi-spec-using-chatgpt.md
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPipfeedParseExtractRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPipfeedParseExtractResponse'
      x-evidence:
        kind: documentation
  /predictions:
    post:
      operationId: post_predictions
      tags:
      - Predictions
      summary: Generates an AI-designed QR code using customizable parameters and an artistic prompt.
      description: Generates an AI-designed QR code using customizable parameters and an artistic prompt.
      x-source: https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPredictionsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPredictionsResponse'
      x-evidence:
        kind: documentation
  /status/{requestId}:
    get:
      operationId: get_status_requestId
      tags:
      - Status
      summary: Retrieve the status and output of a QR code generation request.
      description: Retrieve the status and output of a QR code generation request.
      x-source: https://docs.api.market/api-product-docs/magicapi/ai-qr-code-generator-api
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusRequestidResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetResponse:
      type: object
      properties:
        OrganizationName:
          type:
          - string
          - 'null'
        Raw:
          type: string
        RespondedServers:
          type: array
          items:
            type: string
        AddressRange:
          type:
          - string
          - 'null'
    PostApiMcpMagicapiMagicapiidRequest:
      type: object
      properties:
        jsonrpc:
          type: string
        id:
          type: integer
        method:
          type: string
        params:
          type: object
    PostApiMcpMagicapiMagicapiidResponse:
      type: object
      properties:
        resolution:
          type: string
        quality:
          type: string
        iterations:
          type: integer
    PostApiV1BridgemlMetaLlama38BBridgemlMetaLlama38BRequest:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: string
        temperature:
          type: integer
        max_tokens:
          type: integer
        top_p:
          type: integer
        frequency_penalty:
          type: integer
        stream:
          type: boolean
    PostApiV1MagicapiAiqrcodePredictionsRequest:
      type: object
      properties:
        input:
          type: object
          properties:
            seed:
              type: integer
            width:
              type: integer
            border:
              type: integer
            height:
              type: integer
            prompt:
              type: string
            qr_code_content:
              type: string
            qrcode_background:
              type: string
            num_outputs:
              type: integer
            num_inference_steps:
              type: integer
            guidance_scale:
              type: number
            controlnet_conditioning_scale:
              type: number
            negative_prompt:
              type: string
    GetApiV1MagicapiCaptionerCaptionerResponse:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    PostApiV1MagicapiCaptionerCaptionerRequest:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    PostApiV1MagicapiCaptionerCaptionerResponse:
      type: object
      properties:
        image:
          type: string
        task:
          type: string
    GetApiV1MagicapiCoderCoderResponse:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    PostApiV1MagicapiCoderCoderRequest:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    PostApiV1MagicapiCoderCoderResponse:
      type: object
      properties:
        top_k:
          type: integer
        top_p:
          type: number
        prompt:
          type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        system_prompt:
          type: string
        repeat_penalty:
          type: number
        presence_penalty:
          type: integer
        frequency_penalty:
          type: integer
    GetApiV1MagicapiColorizerColorizerResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    PostApiV1MagicapiColorizerColorizerResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    PostApiV1MagicapiCrunchbaseAutocompletesRequest:
      type: object
      properties:
        query:
          type: string
    PostApiV1MagicapiCrunchbaseAutocompletesResponse:
      type: object
      properties:
        entity_id:
          type: string
    GetApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsRequest:
      type: object
      properties:
        entity_id:
          type: string
    PostApiV1MagicapiCrunchbaseCrunchbaseidOrganizationsResponse:
      type: object
      properties:
        entity_id:
          type: string
    GetApiV1MagicapiDeblurerDeblurerResponse:
      type: object
      properties:
        image:
          type: string
    PostApiV1MagicapiDeblurerDeblurerRequest:
      type: object
      properties:
        image:
          type: string
    PostApiV1MagicapiDeblurerDeblurerResponse:
      type: object
      properties:
        image:
          type: string
    GetApiV1MagicapiDnscheckerDnscheckerResponse:
      type: object
      properties:
        domain:
          type: string
    PostApiV1MagicapiDnscheckerDnscheckerRequest:
      type: object
      properties:
        domain:
          type: string
    PostApiV1MagicapiDomaincheckerCheckDomainsRequest:
      type: object
      properties:
        domain_name:
          type: string
    PostApiV1MagicapiDomaincheckerCheckDomainsRequest2:
      type: object
      properties:
        domain_name:
          type: string
          description: The domain name to check.
      required:
      - domain_name
    PostApiV1MagicapiDomaincheckerCheckDomainsResponse:
      type: object
      properties:
        available:
          type: array
          description: List of domain extensions that are available.
        taken:
          type: array
          description: List of domain extensions that are already taken.
    PostApiV1MagicapiFaceswapRequest:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    PostApiV1MagicapiFaceswapResponse:
      type: object
      properties:
        output:
          type: string
    PostApiV1MagicapiFaceswapRequest2:
      type: object
      properties:
        input:
          type: object
          description: Object containing the images to be swapped.
        input.swap_image:
          type: string
          description: URL of the image providing the face to swap.
        input.target_image:
          type: string
          description: URL of the target image where the face will be placed.
      required:
      - input
      - input.swap_image
      - input.target_image
    PostApiV1MagicapiFaceswapResponse2:
      type: object
      properties:
        output:
          type: string
          description: URL of the resulting face‑swapped image.
    GetApiV1MagicapiFaceswapFaceswapResponse:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    PostApiV1MagicapiFaceswapFaceswapRequest:
      type: object
      properties:
        swap_image:
          type: string
        target_image:
          type: string
    PostApiV1MagicapiGpt5ChatCompletionsRequest:
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: string
    PostApiV1MagicapiGpt5ChatCompletionsResponse:
      type: object
      properties:
        role:
          type: string
        content:
          type: string
    GetApiV1MagicapiHairHairResponse:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    PostApiV1MagicapiHairHairRequest:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    PostApiV1MagicapiHairHairResponse:
      type: object
      properties:
        image:
          type: string
        editing_type:
          type: string
        color_description:
          type: string
        hairstyle_description:
          type: string
    PostApiV1MagicapiImageUploadUploadRequest:
      type: object
      properties:
        filename:
          type: string
          description: Image file to upload (multipart/form-data)
      required:
      - filename
    PostApiV1MagicapiImageUploadUploadResponse:
      type: object
      properties:
        url:
          type: string
          description: Secure URL of the uploaded image
    GetApiV1MagicapiNsfwNsfwResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
            Content-Type:
              type: string
    PostApiV1MagicapiNsfwNsfwResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
            Content-Type:
              type: string
    GetApiV1MagicapiObjectdetectorObjectdetectorResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    PostApiV1MagicapiObjectdetectorObjectdetectorRequest:
      type: object
      properties:
        image:
          type: string
        text:
          type: string
    PostApiV1MagicapiObjectdetectorObjectdetectorResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    GetApiV1MagicapiObjectremoverObjectremoverResponse:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    PostApiV1MagicapiObjectremoverObjectremoverRequest:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    PostApiV1MagicapiObjectremoverObjectremoverResponse:
      type: object
      properties:
        mask:
          type: string
        image:
          type: string
    GetApiV1MagicapiOpenjourneyOpenjourneyResponse:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    PostApiV1MagicapiOpenjourneyOpenjourneyRequest:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    PostApiV1MagicapiOpenjourneyOpenjourneyResponse:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        prompt:
          type: string
        scheduler:
          type: string
        num_outputs:
          type: integer
        guidance_scale:
          type: integer
        prompt_strength:
          type: number
        num_inference_steps:
          type: integer
    PostApiV1MagicapiPdfExtractPdfToHtmlFileRequest:
      type: object
      properties:
        pdf_file:
          type: string
          description: PDF file to be uploaded for conversion.
      required:
      - pdf_file
    PostApiV1MagicapiPdfExtractPdfToHtmlFileResponse:
      type: object
      properties:
        html:
          type: string
          description: HTML representation of the PDF.
    PostApiV1MagicapiPdfExtractPdfToHtmlUrlRequest:
      type: object
      properties:
        pdf_url:
          type: string
          description: URL of the PDF to convert.
      required:
      - pdf_url
    PostApiV1MagicapiPdfExtractPdfToHtmlUrlResponse:
      type: object
      properties:
        html:
          type: string
          description: HTML representation of the PDF.
    PostApiV1MagicapiPdfExtractPdfToTextFileRequest:
      type: object
      properties:
        pdf_file:
          type: string
          description: PDF file to be uploaded for conversion.
      required:
      - pdf_file
    PostApiV1MagicapiPdfExtractPdfToTextFileResponse:
      type: object
      properties:
        text:
          type: string
          description: Extracted plain text from the PDF.
    PostApiV1MagicapiPdfExtractPdfToTextUrlRequest:
      type: object
      properties:
        pdf_url:
          type: string
          description: URL of the PDF to convert.
      required:
      - pdf_url
    PostApiV1MagicapiPdfExtractPdfToTextUrlResponse:
      type: object
      properties:
        text:
          type: string
          description: Extracted plain text from the PDF.
    PostApiV1MagicapiPdfExtractPdfextractidRequest:
      type: object
      properties:
        pdf_url:
          type: string
    PostApiV1MagicapiPdfExtractPdfextractidResponse:
      type: object
      properties:
        html:
          type: string
    GetApiV1MagicapiPeriodPeriodResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiPeriodPeriodResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    GetApiV1MagicapiRestorationRestorationResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiRestorationRestorationResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-magicapi-key:
              type: string
    PostApiV1MagicapiUpscalerUpscale2XResponse:
      type: object
      properties:
        id:
          type: string
        subscriptionStatus:
          type: string
        currentPeriodStartDate:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
        renewDate:
          type: string
          format: date-time
        apiCallsMade:
          type: integer
        cancellationDate:
          type:
          - string
          - 'null'
        pricingPlan:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            pricingPlanConfig:
              type: object
              properties:
                maxTPS:
                  type: string
                aPILimitType:
                  type: string
                apiCallLimit:
                  type: string
                apiSoftLimitOverHead:
                  type: number
                subscriptionPricePerMonth:
                  type: string
        product:
          type: object
          properties:
            slug:
              type: string
            title:
              type: string
        workspace:
          type: object
          properties:
            slug:
              type: string
    PostApiV1MagicapiUpscalerUpscale2XRequest:
      type: object
      properties:
        url:
          type: string
          description: URL of the image to be upscaled
      required:
      - url
    GetApiV1MagicapiWhisperWhisperResponse:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    PostApiV1MagicapiWhisperWhisperRequest:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    PostApiV1MagicapiWhisperWhisperResponse:
      type: object
      properties:
        audio:
          type: string
        model:
          type: string
        translate:
          type: boolean
        temperature:
          type: integer
        transcription:
          type: string
        suppress_tokens:
          type: string
        logprob_threshold:
          type: integer
        no_speech_threshold:
          type: number
        condition_on_previous_text:
          type: boolean
        compression_ratio_threshold:
          type: number
        temperature_increment_on_fallback:
          type: number
    GetApiV1MagicapiMagicapiidPredictionsRequestidResponse:
      type: object
      properties:
        headers:
          type: object
          properties:
            accept:
              type: string
            x-api-market-key:
              type: string
    GetApiV1PipfeedParseExtractResponse:
      type: object
      properties:
        url:
          type: string
        title:
          type: string
        author:
          type: string
        html:
          type: string
        text:
          type: string
        length:
          type: integer
        description:
          type: string
        siteName:
          type: string
        topImage:
          type: string
        date:
          type: string
        keywords:
          type: string
        summary:
          type: array
          items:
            type: string
        sentiment:
          type: object
          properties:
            score:
              type: integer
            comparative:
              type: number
            calculation:
              type: array
              items:
                type: object
                properties:
                  prohibit:
                    type: integer
            postive:
              type: array
              items:
                type: string
            negative:
              type: array
              items:
                type: string
    PostApiV1PipfeedParseExtractRequest:
      type: object
      properties:
        url:
          type: string
    DeleteApiV1SubscriptionWorkspaceslugProductslugResponse:
      type: object
      properties:
        subscription:
          type: object
        message:
          type: string
        cancelledImmediately:
          type: boolean
    PostApiV1SubscriptionWorkspaceslugProductslugPricingplanidRe:
      type: object
      properties:
        additionalData:
          type: string
          description: Additional information for the subscription
        isDryRun:
          type: boolean
          description: Set to true to simulate the operation without making changes
    PostApiV1SubscriptionWorkspaceslugProductslugPricingplanidRe2:
      type: object
      properties:
        subscription:
          type: object
        action:
          type: string
        previousSubscription:
          type: object
    GetApiV1ToonmeApiToonifyToonmeV1Response:
      type: object
      properties:
        id:
          type: string
        image_url:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1Response:
      type: object
      properties:
        id:
          type: string
        image_url:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1Request:
      type: object
      properties:
        id:
          type: string
          description: EFFECT_ID
        image_url:
          type: string
          description: IMAGE_URL
      required:
      - id
      - image_url
    PostApiV1ToonmeApiToonifyToonmeV1Response2:
      type: object
      properties:
        image_process_response:
          type: object
          description: Response object containing request details
    GetApiV1ToonmeApiToonifyToonmeV1ResultResponse:
      type: object
      properties:
        request_id:
          type: string
    PostApiV1ToonmeApiToonifyToonmeV1ResultResponse:
      type: object
      properties:
        request_id:
          type: string
        status:
          type: string
        duration:
          type: string
        total_duration:
          type: string
        result_url:
          type: string
        masks:
          type: object
          properties:
            mask:
              type: object
              properties:
                '@index':
                  type: string
                '@name':
                  type: string
                '#text':
                  type: string
        answers:
          type:
          - string
          - 'null'
    PostApiV1ToonmeApiToonifyToonmeV1ResultRequest:
      type: object
      properties:
        request_id:
          type: string
          description: ID returned from the toonify request
      required:
      - request_id
    PostApiV1ToonmeApiToonifyToonmeV1ResultResponse2:
      type: object
      properties:
        image_process_response:
          type: object
          description: Response object containing the result URL and status
    GetApiV1UserUsageResponse:
      type: object
      properties:
        usageData:
          type: array
          items:
            type: object
            properties:
              apiName:
                type: string
              quota:
                type: integer
              apiCallsLeft:
                type: integer
              apiCallsMade:
                type: integer
              startDate:
                type: string
                format: date-time
              renewDate:
[...]
